{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Test microservices</h1>
                <hr>
                    <form>
                      <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Email" id="email">
                        </div>
                        <div class="col">
                          <input type="password" class="form-control" placeholder="Password" id="password">
                        </div>
                      </div>
                    </form>
                <br>
                    <a id="authBrokerBtn" class="btn btn-secondary btn-lg btn-block" href="javascript:void(0);"> Test authBroker </a>
                <hr>
                    <form>
                      <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Name" id="logName">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Log message" id="logMessage">
                        </div>
                      </div>
                    </form>
                <br>
                    <a id="loggerBrokerBtn" class="btn btn-secondary btn-lg btn-block" href="javascript:void(0);"> Test loggerBroker </a>
                <hr>
                    <form>
                      <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Email" id="emailTo">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Subject" id="emailSubject">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Message" id="emailMessage">
                        </div>
                      </div>
                    </form>
                <br>
                    <a id="emailBtn" class="btn btn-secondary btn-lg btn-block" href="javascript:void(0);"> Test Mailer </a>
                <hr>
                    <a id="brokerBtn" class="btn btn-secondary btn-lg btn-block" href="javascript:void(0);"> Test Broker </a>
                    
                <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
                    <span class="text-muted">Output shows here...</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Sent</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="payload"><span class="text-muted">Nothing sent yet...</span></pre>
                </div>
            </div>
            <div class="col">
                <h4 class="mt-5">Received</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="received"><span class="text-muted">Nothing received yet...</span></pre>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>

        let brokerBtn = document.getElementById("brokerBtn");
        let authBrokerBtn = document.getElementById("authBrokerBtn");
        let loggerBrokerBtn = document.getElementById("loggerBrokerBtn")
        let output = document.getElementById("output");
        let sent = document.getElementById("payload");
        let received = document.getElementById("received");
        let emailBtn = document.getElementById("emailBtn");

        emailBtn.addEventListener("click", function(){

            let emailTo = document.getElementById("emailTo");
            let emailSubject = document.getElementById("emailSubject");
            let emailMessage = document.getElementById("emailMessage");

            const payload = {
                action: "mailer",
                mail: {
                  to: emailTo.value,         
                  subject: emailSubject.value,
                  message: emailMessage.value,
                }
            }

            const headers = new Headers();
            headers.append("Content-type", "application/json");

            const body = {
              method: 'POST',
              body: JSON.stringify(payload),
              headers: headers,
            }

            fetch("http:\/\/localhost:8081/handle", body)
            .then((response) => response.json())
            .then((data) => {
                sent.innerHTML = JSON.stringify(payload, null, 4);
                received.innerHTML = JSON.stringify(data, null, 4);
                if (data.error) {
                    output.innerHTML += `<br><strong>Error</strong>: ${data.massage}</br>`;
                } else {
                    output.innerHTML += `<br><strong>Response from mailer service</strong>: ${data.massage}</br>`;
                }
            })
            .catch((error) => {
                output.innerHTML += "<br><br>Error: " + error;
            })
            // clear input field
            emailTo.value = '';
            emailSubject.value = '';
            emailMessage.value = '';
        })

        authBrokerBtn.addEventListener("click", function(){

            let email = document.getElementById("email");
            let password = document.getElementById("password");

            const payload = {
                action: "auth",
                auth: {
                  email: email.value, // "admin@example.com",
                  password: password.value, // "verysecret",
                }
            }

            const headers = new Headers();
            headers.append("Content-type", "application/json");

            const body = {
              method: 'POST',
              body: JSON.stringify(payload),
              headers: headers,
            }

            fetch("http:\/\/localhost:8081/handle", body)
            .then((response) => response.json())
            .then((data) => {
                sent.innerHTML = JSON.stringify(payload, null, 4);
                received.innerHTML = JSON.stringify(data, null, 4);
                if (data.error) {
                    output.innerHTML += `<br><strong>Error</strong>: ${data.massage}</br>`;
                } else {
                    output.innerHTML += `<br><strong>Response from auth service</strong>: ${data.massage}</br>`;
                }
            })
            .catch((error) => {
                output.innerHTML += "<br><br>Error: " + error;
            })
            // clear input field
            email.value = '';
            password.value = '';
        })

        loggerBrokerBtn.addEventListener("click", function(){

            let logName = document.getElementById("logName");
            let logMessage = document.getElementById("logMessage");

            const payload = {
                action: "logger",
                log: {
                  name: logName.value,         
                  data: logMessage.value,
                }
            }

            const headers = new Headers();
            headers.append("Content-type", "application/json");

            const body = {
              method: 'POST',
              body: JSON.stringify(payload),
              headers: headers,
            }

            fetch("http:\/\/localhost:8081/handle", body)
            .then((response) => response.json())
            .then((data) => {
                sent.innerHTML = JSON.stringify(payload, null, 4);
                received.innerHTML = JSON.stringify(data, null, 4);
                if (data.error) {
                    output.innerHTML += `<br><strong>Error</strong>: ${data.massage}</br>`;
                } else {
                    output.innerHTML += `<br><strong>Response from logger service</strong>: ${data.massage}</br>`;
                }
            })
            .catch((error) => {
                output.innerHTML += "<br><br>Error: " + error;
            })
            // clear input field
            logName.value = '';
            logMessage.value = '';
        })

        brokerBtn.addEventListener("click", function(){
            const body = {
                method: 'POST',
            }

            fetch("http:\/\/localhost:8081", body)
            .then((response) => response.json())
            .then((data) => {
                sent.innerHTML = "empty POST request";
                received.innerHTML = JSON.stringify(data, null, 4);
                if (data.error) {
                    console.log(data.massege);
                } else {
                    output.innerHTML += `<br><strong>Response from broker service</strong>: ${data.massage}</br>`
                }
            })
            .catch((error) => {
                output.innerHTML += "<br><br>Error: " + error;
            })

        })
        
    </script>
{{end}}
